# ignore all make dependency files
*.d
*.o
*.7z
*.ncb
*.ilk
*.opt
*.plg
*.suo
*.user
*.aps
*.clwbin/
# ignore all the windows binaries - they shouldn't be committed! 
Debug/
Release/
release_gl/
out.txt
gas2masm.exe
gas2masm.ilk
qw.exe
qwsse.exe
dqw.exe
dqwsse.exe
dqsse.exe
qdos.exe
qdosfx.exe
qdossse.exe
dquake.exe
dqfx.exe
dqwfx.exe
qwdosfx.exe
gspydos.exe
relwqwexe.bat
relqwexe.bat
relwqdexe.bat
relqdexe.bat
release.bat
